In [49]:
import pandas as pd
from datetime import datetime

In [50]:
dat = pd.read_csv('data/India/ASIANPAINTAll.csv')

In [51]:
m = lambda x: datetime.strptime(x,'%Y-%m-%d')
dat['Index'] = dat['Date'].map(m)

In [52]:
train = dat[dat['Index']>=datetime.strptime('2010-01-01','%Y-%m-%d')]

In [53]:
train = train[train['Index']<=datetime.strptime('2016-12-30','%Y-%m-%d')]

In [36]:
train

,Date,Open,High,Low,Close,Adj Close,Volume,Index
2539,2010-01-04,173.800003,179.990005,173.800003,178.964996,112.642296,26700.0,2010-01-04
2540,2010-01-05,179.100006,179.919998,178.500000,179.039993,112.689507,30190.0,2010-01-05
2541,2010-01-06,180.679993,180.679993,177.604996,178.039993,112.060112,18160.0,2010-01-06
2542,2010-01-07,178.000000,179.500000,177.024994,177.649994,111.814659,280410.0,2010-01-07
2543,2010-01-08,173.000000,182.899994,173.000000,179.570007,113.023117,149190.0,2010-01-08
2544,2010-01-11,177.500000,182.000000,176.500000,180.205002,113.422791,48690.0,2010-01-11
2545,2010-01-12,179.500000,187.500000,179.205002,184.645004,116.217361,138670.0,2010-01-12
2546,2010-01-13,184.000000,187.410004,183.024994,186.470001,117.366020,102040.0,2010-01-13
2547,2010-01-14,187.500000,190.380005,186.669998,188.050003,118.360489,57760.0,2010-01-14
2548,2010-01-15,189.000000,192.600006,186.214996,187.294998,117.885307,74730.0,2010-01-15
2549,2010-01-18,187.100006,191.500000,186.199997,186.729996,117.529671,56770.0,2010-01-18
2550,2010-01-19,187.600006,188.485001,183.500000,184.610001,116.195335,40190.0,2010-01-19
2551,2010-01-20,186.669998,186.669998,182.000000,183.020004,115.194588,19650.0,2010-01-20
2552,2010-01-21,183.645004,184.050003,179.509995,181.160004,114.023865,48580.0,2010-01-21
2553,2010-01-22,180.000000,184.899994,174.009995,176.690002,111.210419,91540.0,2010-01-22
2554,2010-01-25,175.990005,180.000000,175.990005,177.490005,111.713943,38810.0,2010-01-25
2555,2010-01-27,177.399994,181.985001,175.000000,176.520004,111.103386,667540.0,2010-01-27
2556,2010-01-28,178.050003,182.399994,177.699997,180.039993,113.318939,52410.0,2010-01-28
2557,2010-01-29,177.100006,187.199997,177.005005,185.315002,116.639061,79980.0,2010-01-29
2558,2010-02-01,183.500000,195.000000,182.115005,191.520004,120.544563,432560.0,2010-02-01
2559,2010-02-02,192.500000,193.000000,186.500000,187.130005,117.781441,46770.0,2010-02-02
2560,2010-02-03,188.500000,192.100006,187.399994,191.550003,120.563438,106980.0,2010-02-03
2561,2010-02-04,191.000000,192.500000,187.835007,191.600006,120.594917,61280.0,2010-02-04
2562,2010-02-05,190.000000,199.300003,185.505005,194.429993,122.376144,375670.0,2010-02-05
2563,2010-02-06,NaN,NaN,NaN,NaN,NaN,NaN,2010-02-06
2564,2010-02-08,197.990005,198.500000,194.500000,194.740005,122.571266,132320.0,2010-02-08
2565,2010-02-09,195.500000,198.100006,194.889999,196.800003,123.867844,99910.0,2010-02-09
2566,2010-02-10,191.000000,202.399994,191.000000,198.009995,124.629402,361880.0,2010-02-10
2567,2010-02-11,197.899994,199.445007,193.000000,194.505005,122.423340,77010.0,2010-02-11
2568,2010-02-15,195.899994,196.500000,190.509995,193.300003,121.664925,53200.0,2010-02-15
...,...,...,...,...,...,...,...,...
4241,2016-11-21,925.000000,925.000000,891.750000,899.700012,879.039795,99633.0,2016-11-21
4242,2016-11-22,901.000000,915.000000,895.000000,907.349976,886.514282,103031.0,2016-11-22
4243,2016-11-23,915.000000,947.000000,912.299988,942.500000,920.857056,109818.0,2016-11-23
4244,2016-11-24,939.150024,966.000000,931.000000,937.700012,916.167297,175315.0,2016-11-24
4245,2016-11-25,946.849976,953.200012,940.200012,945.150024,923.446167,79803.0,2016-11-25
4246,2016-11-28,950.000000,967.750000,936.000000,938.000000,916.460388,95841.0,2016-11-28
4247,2016-11-29,942.000000,965.000000,935.799988,958.400024,936.392029,106326.0,2016-11-29
4248,2016-11-30,969.000000,974.049988,955.049988,969.849976,947.578979,200507.0,2016-11-30
4249,2016-12-01,968.000000,968.000000,936.500000,939.049988,917.486328,115934.0,2016-12-01
4250,2016-12-02,936.599976,936.599976,902.200012,905.549988,884.755554,131623.0,2016-12-02
4251,2016-12-05,910.000000,940.000000,895.549988,937.950012,916.411499,107438.0,2016-12-05
4252,2016-12-06,937.950012,943.950012,925.000000,934.099976,912.650024,77045.0,2016-12-06
4253,2016-12-07,937.000000,947.849976,929.299988,932.700012,911.282043,60829.0,2016-12-07
4254,2016-12-08,944.900024,946.700012,930.500000,935.400024,913.919983,87847.0,2016-12-08
4255,2016-12-09,937.000000,954.000000,936.599976,941.650024,920.026611,83580.0,2016-12-09
4256,2016-12-12,934.000000,936.799988,908.299988,910.250000,889.347656,86867.0,2016-12-12
4257,2016-12-13,920.000000,920.000000,895.750000,908.950012,888.077454,97586.0,2016-12-13
4258,2016-12-14,910.000000,922.799988,910.000000,913.250000,892.278809,73288.0,2016-12-14
4259,2016-12-15,912.950012,917.000000,903.750000,905.799988,884.999817,388932.0,2016-12-15
4260,2016-12-16,913.000000,913.000000,899.500000,900.900024,880.212402,186173.0,2016-12-16
4261,2016-12-19,906.000000,906.000000,876.549988,879.700012,859.499207,120973.0,2016-12-19
4262,2016-12-20,879.700012,882.299988,862.000000,868.700012,848.751770,91016.0,2016-12-20
4263,2016-12-21,868.700012,876.000000,862.150024,866.299988,846.406860,66417.0,2016-12-21
4264,2016-12-22,868.000000,874.000000,850.099976,869.549988,849.582275,130175.0,2016-12-22
4265,2016-12-23,871.000000,884.950012,862.599976,873.750000,853.685791,100966.0,2016-12-23
4266,2016-12-26,874.000000,884.000000,860.250000,867.150024,847.237305,81132.0,2016-12-26
4267,2016-12-27,870.000000,878.000000,864.000000,876.349976,856.226135,65828.0,2016-12-27
4268,2016-12-28,880.000000,890.849976,871.000000,876.599976,856.470215,91945.0,2016-12-28
4269,2016-12-29,880.000000,886.500000,877.500000,881.299988,861.062378,68982.0,2016-12-29
4270,2016-12-30,884.000000,894.500000,883.299988,891.349976,870.881592,92659.0,2016-12-30

In [37]:
test = dat[dat['Index']>=datetime.strptime('2017-01-01','%Y-%m-%d')]

In [39]:
test = test[test['Index']<=datetime.strptime('2017-12-30','%Y-%m-%d')]

In [47]:
train = train.set_index('Date')
test = test.set_index('Date')
train = train.drop(columns='Index')
train = test.drop(columns='Index')

KeyError: 'Date'

In [48]:
train

,Open,High,Low,Close,Adj Close,Volume,Index
Date,,,,,,,
2010-01-04,173.800003,179.990005,173.800003,178.964996,112.642296,26700.0,2010-01-04
2010-01-05,179.100006,179.919998,178.500000,179.039993,112.689507,30190.0,2010-01-05
2010-01-06,180.679993,180.679993,177.604996,178.039993,112.060112,18160.0,2010-01-06
2010-01-07,178.000000,179.500000,177.024994,177.649994,111.814659,280410.0,2010-01-07
2010-01-08,173.000000,182.899994,173.000000,179.570007,113.023117,149190.0,2010-01-08
2010-01-11,177.500000,182.000000,176.500000,180.205002,113.422791,48690.0,2010-01-11
2010-01-12,179.500000,187.500000,179.205002,184.645004,116.217361,138670.0,2010-01-12
2010-01-13,184.000000,187.410004,183.024994,186.470001,117.366020,102040.0,2010-01-13
2010-01-14,187.500000,190.380005,186.669998,188.050003,118.360489,57760.0,2010-01-14
2010-01-15,189.000000,192.600006,186.214996,187.294998,117.885307,74730.0,2010-01-15
2010-01-18,187.100006,191.500000,186.199997,186.729996,117.529671,56770.0,2010-01-18
2010-01-19,187.600006,188.485001,183.500000,184.610001,116.195335,40190.0,2010-01-19
2010-01-20,186.669998,186.669998,182.000000,183.020004,115.194588,19650.0,2010-01-20
2010-01-21,183.645004,184.050003,179.509995,181.160004,114.023865,48580.0,2010-01-21
2010-01-22,180.000000,184.899994,174.009995,176.690002,111.210419,91540.0,2010-01-22
2010-01-25,175.990005,180.000000,175.990005,177.490005,111.713943,38810.0,2010-01-25
2010-01-27,177.399994,181.985001,175.000000,176.520004,111.103386,667540.0,2010-01-27
2010-01-28,178.050003,182.399994,177.699997,180.039993,113.318939,52410.0,2010-01-28
2010-01-29,177.100006,187.199997,177.005005,185.315002,116.639061,79980.0,2010-01-29
2010-02-01,183.500000,195.000000,182.115005,191.520004,120.544563,432560.0,2010-02-01
2010-02-02,192.500000,193.000000,186.500000,187.130005,117.781441,46770.0,2010-02-02
2010-02-03,188.500000,192.100006,187.399994,191.550003,120.563438,106980.0,2010-02-03
2010-02-04,191.000000,192.500000,187.835007,191.600006,120.594917,61280.0,2010-02-04
2010-02-05,190.000000,199.300003,185.505005,194.429993,122.376144,375670.0,2010-02-05
2010-02-06,NaN,NaN,NaN,NaN,NaN,NaN,2010-02-06
2010-02-08,197.990005,198.500000,194.500000,194.740005,122.571266,132320.0,2010-02-08
2010-02-09,195.500000,198.100006,194.889999,196.800003,123.867844,99910.0,2010-02-09
2010-02-10,191.000000,202.399994,191.000000,198.009995,124.629402,361880.0,2010-02-10
2010-02-11,197.899994,199.445007,193.000000,194.505005,122.423340,77010.0,2010-02-11
2010-02-15,195.899994,196.500000,190.509995,193.300003,121.664925,53200.0,2010-02-15
...,...,...,...,...,...,...,...
2016-11-21,925.000000,925.000000,891.750000,899.700012,879.039795,99633.0,2016-11-21
2016-11-22,901.000000,915.000000,895.000000,907.349976,886.514282,103031.0,2016-11-22
2016-11-23,915.000000,947.000000,912.299988,942.500000,920.857056,109818.0,2016-11-23
2016-11-24,939.150024,966.000000,931.000000,937.700012,916.167297,175315.0,2016-11-24
2016-11-25,946.849976,953.200012,940.200012,945.150024,923.446167,79803.0,2016-11-25
2016-11-28,950.000000,967.750000,936.000000,938.000000,916.460388,95841.0,2016-11-28
2016-11-29,942.000000,965.000000,935.799988,958.400024,936.392029,106326.0,2016-11-29
2016-11-30,969.000000,974.049988,955.049988,969.849976,947.578979,200507.0,2016-11-30
2016-12-01,968.000000,968.000000,936.500000,939.049988,917.486328,115934.0,2016-12-01
2016-12-02,936.599976,936.599976,902.200012,905.549988,884.755554,131623.0,2016-12-02
2016-12-05,910.000000,940.000000,895.549988,937.950012,916.411499,107438.0,2016-12-05
2016-12-06,937.950012,943.950012,925.000000,934.099976,912.650024,77045.0,2016-12-06
2016-12-07,937.000000,947.849976,929.299988,932.700012,911.282043,60829.0,2016-12-07
2016-12-08,944.900024,946.700012,930.500000,935.400024,913.919983,87847.0,2016-12-08
2016-12-09,937.000000,954.000000,936.599976,941.650024,920.026611,83580.0,2016-12-09
2016-12-12,934.000000,936.799988,908.299988,910.250000,889.347656,86867.0,2016-12-12
2016-12-13,920.000000,920.000000,895.750000,908.950012,888.077454,97586.0,2016-12-13
2016-12-14,910.000000,922.799988,910.000000,913.250000,892.278809,73288.0,2016-12-14
2016-12-15,912.950012,917.000000,903.750000,905.799988,884.999817,388932.0,2016-12-15
2016-12-16,913.000000,913.000000,899.500000,900.900024,880.212402,186173.0,2016-12-16
2016-12-19,906.000000,906.000000,876.549988,879.700012,859.499207,120973.0,2016-12-19
2016-12-20,879.700012,882.299988,862.000000,868.700012,848.751770,91016.0,2016-12-20
2016-12-21,868.700012,876.000000,862.150024,866.299988,846.406860,66417.0,2016-12-21
2016-12-22,868.000000,874.000000,850.099976,869.549988,849.582275,130175.0,2016-12-22
2016-12-23,871.000000,884.950012,862.599976,873.750000,853.685791,100966.0,2016-12-23
2016-12-26,874.000000,884.000000,860.250000,867.150024,847.237305,81132.0,2016-12-26
2016-12-27,870.000000,878.000000,864.000000,876.349976,856.226135,65828.0,2016-12-27
2016-12-28,880.000000,890.849976,871.000000,876.599976,856.470215,91945.0,2016-12-28
2016-12-29,880.000000,886.500000,877.500000,881.299988,861.062378,68982.0,2016-12-29
2016-12-30,884.000000,894.500000,883.299988,891.349976,870.881592,92659.0,2016-12-30

In [42]:
train.to_csv('data/India/AsianTrain.csv')

In [43]:
test.to_csv('data/India/AsianTest.csv')